<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>NotiFlex</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>black</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>black</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ig</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ig</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>revolut</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>revolut</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>shopify</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>shopify</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>whatsapp</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>whatsapp</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>stripe</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>stripe</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>gmail</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>gmail</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>linkedin</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>linkedin</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>openai</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>openai</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>uber</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>uber</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>binance</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>binance</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>spotify</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>spotify</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>telegram</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>telegram</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>reddit</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>reddit</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>mcdonalds</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>mcdonalds</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>black</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>notiflex</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
        <string>voip</string>
        <string>processing</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSUserNotificationAlertStyle</key>
    <string>banner</string>
    <key>UIUserNotificationSettings</key>
    <dict>
        <key>UIUserNotificationType</key>
        <array>
            <string>alert</string>
            <string>badge</string>
            <string>sound</string>
        </array>
    </dict>

    <key>NSLocationAlwaysUsageDescription</key>
    <string>App requires location access to deliver timely notifications.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>This app needs tracking permission to display relevant notifications.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>App requires access to your location always and when in use for notifications.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>App requires your location while in use to deliver timely notifications.</string>

    <key>UNNotificationAlertStyle</key>
    <string>banner</string>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.example.notiflex</string>
                <string>app-1-343927189232-ios-3a22c41a6ef252ea859c35</string>
            </array>
        </dict>
    </array>

</dict>
</plist>
